
*.js
*.BSD
*.cmd
node_modules/npm/node_modules/update-notifier/node_modules/latest-version/node_modules/package-json/node_modules/registry-url/node_modules/rc/node_modules/strip-json-comments/license
*.json
*.MIT
*.md
*.yml
*.png
*.gif
*.key
*.map
*.txt
*.css
*.info
*.lock
*.1
*.5
*.7
